/**backword compatibility for flexbox containers.**/
/*.flexbox only divs
{Only use this at targeted divs that are using flexbox
display: -webkit-box;
display: -ms-flexbox;
display:flex;
}
**/

/**This ensures that all elements (and their ::before and ::after pseudo-elements) use border-box**/
*, *::before, *::after {
    box-sizing: border-box;
    margin:0;/**Both margin and padding here, eliminates default browser spacing**/
    padding:0;
}

//*Set a base font size then use % or em to set font sizes relative to 100%. **/
html {
  font-size: 100%; /* Set a base font size */
}

html, body {height:100%;}
/*To deal with the height, set the html and body to height:100%; this will cover content even when it falls beyond the visible screen and changes to scrolling.

It also cascades down to other child divs, ensuring height is adjusted to cover content as it grows. */

/**Above is boiler plate**/


